@import 'main';

.button {
  display: inline-block;
  font-size: $font-size-base;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  cursor: pointer;
  padding: 9px;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: $border-radius;
}

.color {

  &-primary {
    background: $color_1;
    color: $color_5;
  }

  &-secondary {
    background: $color_3;
    color: $color_1;
    border: 1px solid $color_1;
  }

  &-transparent {
    background: $color_4;
    color: $color_1;
    opacity: 0.8;
  }
}
