
//html, body {
//  margin: 0;
//  padding: 0;
//  height: 100%;
//}

body > div#app {
  min-height: 100%;
}

//p {
//  margin: 0;
//}
//
//h1 {
//  margin: 0;
//}
//
//h2 {
//  margin: 0;
//}
//
//h3 {
//  margin: 0;
//}

body > div#modal-root {
  position: relative;
  z-index: 999;
}
