//colors

$color_1:     #F65261;
$color_2:     #424242;
$color_3:     #232323;
$color_4:     #555555;
$color_5:     #FFFFFF;

//fonts

$font-size-base: 17px;
$font-size-lg: 21px;
$font-size-sm: 15px;
$font-size-xs: 12px;
$font-size-xxs: 10px;

//border-radius

$border-radius: 4px;


